/.bundle/
/.idea/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.ruby-gemset
.ruby-version
/.vagrant/
atlassian-ide-plugin.xml
*.bundle
*.so
*.o
*.a
mkmf.log
.update-apt
.env
